backend/chroma_db/** filter=lfs diff=lfs merge=lfs -text
*.sqlite3 filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
backend/chroma_db/** !text !filter !merge !diff
*.sqlite3 !text !filter !merge !diff
*.bin !text !filter !merge !diff
